@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-dark: 18 18 18;
    --surface-dark: 30 30 30;
    --primary: 255 217 0;
    --bauhaus-blue: 30 64 175;
    --bauhaus-red: 220 38 38;
  }

  body {
    font-family: "Space Grotesk", sans-serif;
  }
}

@layer utilities {
  .bauhaus-grid {
    background-image: radial-gradient(#333 1px, transparent 1px);
    background-size: 20px 20px;
  }

  /* Custom Shapes for Bauhaus Theme */
  .shape-triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  
  .shape-quarter-circle {
    border-radius: 100% 0 0 0;
  }
}

